{% extends 'base.html' %}

{% block title %}
      Webroject
{% endblock %}

{% block content %}

{% if category_posts  %}

<h1>{{ cats }} - category</h1>
<ul>
      {% for post in category_posts %}
      <li>
            <a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a>  <br>
            {{ post.body |slice:":200" | safe }} <br>
            <a href="">Category: {{ post.category }}</a><br>
            Create: {{ post.author.first_name }} {{ post.author.last_name }} 
            
            {% if user.is_authenticated %}
            <a href="{% url 'update_post' post.pk %}">Edit post</a> - <a href="{% url 'delete_post' post.pk %}">Delete post</a><br>
            {% endif %}

      </li>
      {% endfor %}   
</ul>

{% else %}
      <h2>Sory this category does not exist</h2>
{% endif %}

{% endblock %}


